
.error {
            color: red;
        }
        body
        {
        background-color: white;
        padding: 5px 5px 5px 5px;

        }
#top
        {
        border: 1px solid red;

        }

#logowanie

        {
        float:left;
        width: 400px;
margin: 10px;
padding: 15px 15px 15px;
background: #fff;
border: 1px solid silver;
font: 16px calibri;
letter-spacing: -1px;
-webkit-box-shadow: 0 0 2px silver;
-moz-box-shadow: 0 0 2px silver;
box-shadow: 0 0 2px silver;


}
form {
margin: 0;

#opis
{


width: 750px; height: 600px; text-align: center;
display: inline-block;
vertical-align: middle;
display: table-cell;
}
