body {
    background-color: #3f3f3f;
    font-family: Verdana;
    color: #1e1b1b;
}

#container {
    width: 1010px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;

}

.rectangle {
    margin: 10px;
    border-style: solid;
    border-width: medium;
    padding: 10px;
    background: darkgray;

}

.square {

    border-style: solid;
    border-width: medium;
    margin: 10px;
    width: 480px;
    padding: 10px;
}


#add {
    background-color: #1c8041;
}

#subtraction {
    background-color: #FF1CAE;
}

#bans {
    background-color: #00cccc;

}

#punkty_szkola {
    background-color: #66ff99;
}

