body
{
    background-color: gray;
    font-family: Verdana;
    color: white;
}

#container
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width: medium;

}

.rectangle
{
    margin: 10px;
    width:500px;
    margin:20px;
    border-style: solid;
    border-width: medium;

}



#dodawanie
{
    border-style: solid;
    border-width: medium;
    float: left;
    margin: 10px;
}

#odejmowanie
{
    float: left;
    border-style: solid;
    border-width: medium;
    margin: 10px;
}

#bany_warny
{
    float: left;
    border-style: solid;
    border-width: medium;
    margin: 10px;
}
