/* Colors */
/* Media queries */
/* Margins */
/* Font size */
.section__title, .section__title_light {
  font-size: 30px;
  line-height: 180%;
}

.article__title, .article__title_light {
  font-size: 26px;
  line-height: 180%;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

/*main sections*/
body {
  background-color: #f4f5f9;
}

@media only screen and (orientation: portrait) and (max-width: 575.99px) {
  .wrapper_withNavbar {
    padding-left: 0;
    padding-top: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .wrapper_withNavbar {
    padding-left: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper_withNavbar {
    padding-top: 80px;
  }
}

/* Components */
.navbar-btn {
  margin: 0;
  transition: .2s;
}

.navbar-btn:hover {
  background-color: #4700c9;
  cursor: pointer;
}

.navbar-btn:hover .navbar-btn__text {
  color: #ffffff;
}

@media only screen and (max-width: 991.99px) {
  .navbar-btn {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-btn {
    display: inline-block;
    padding: 8px calc(10px);
    height: 80px;
    margin: 0;
    width: 120px;
  }
}

.navbar-btn .navbar-btn__img {
  height: 25px;
  display: block;
  margin: 10px auto 0;
}

.navbar-btn .navbar-btn__text {
  margin: 0;
  display: block;
  font-size: 13px;
}

.article__container {
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  margin: 0;
  background-color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  diplay: -webkit-flex;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 575.99px) {
  .article__container {
    margin: 0 auto;
    min-width: calc(280px + 2vw);
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .article__container {
    min-width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .article__container {
    min-width: 500px;
    padding: 15px 0;
    margin: 0 auto;
  }
}

.article__item {
  margin: 0 auto;
  min-width: 50px;
  min-height: 50px;
}

.article__box {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form-group {
  margin: 0;
}

.section__title {
  color: #000000;
}

.section__title_light {
  color: #ffffff;
}

.article__title {
  color: #4700c9;
}

.article__title_light {
  color: #ffffff;
}

.article__text {
  line-height: 130%;
}

.large {
  font-size: 2em;
  line-height: 0.4em;
}

.article__image {
  position: absolute;
  max-height: 100%;
}

.portrait__image {
  position: relative;
  margin: 0 auto;
}

.button-switch, .button-add {
  width: calc(110px + 4vw);
  min-width: 133px;
  padding: 10px 15px;
  border-radius: 25px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: .2s;
  border: solid 1px #4700c9;
  background-color: #4700c9;
  color: #ffffff;
  font-size: 14px;
}

.button-switch:hover, .button-add:hover {
  border: solid 1px #a2a4aa;
  background-color: #a2a4aa;
  color: #ffffff;
}

a.button-return {
  text-align: center;
  width: auto;
  color: #4700c9;
  margin: 10px auto;
  transition: .2s;
  line-height: 30px;
  background-color: #ffffff;
}

.button-add {
  margin: 10px 2px;
          box-shadow: none;
  border: solid 1.5px #4700c9;
  background-color: #ffffff;
  color: #4700c9;
  text-align: center;
  font-size: 14px;
}

.button-add:hover {
  background-color: #4700c9;
  color: #ffffff;
}

.button-number {
  margin: 10px 1vw;
  width: auto;
  padding: 10px 15px;
  border-radius: 4px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: .2s;
  border: solid 2px #ffffff;
  background-color: #ffffff;
  color: red;
  text-align: center;
}

.button-number:hover {
  background-color: red;
  color: #ffffff;
}

.button__choose {
  background-color: #ffffff;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #4700c9;
}

.form .form-group {
  margin: 0 0 5px;
}

.form .form-group .form__label {
  margin: 5px 0;
}

/* Sections */
.navbar {
  background-color: #ffffff;
  position: absolute;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  padding: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  top: 0;
}

.navbar .navbar-brand {
  padding: 8px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .navbar-brand .logo {
  background-image: url(../images/zeton1b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: calc(80px - 16px);
  width: 100px;
}

.navbar .navbar-nav {
  font-size: 0;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media only screen and (max-width: 991.99px) {
  .navbar .navbar-nav {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .navbar .navbar-nav {
    width: 60%;
    display: inline-block;
    text-align: center;
  }
  .navbar .navbar-nav .navbar-btn {
    width: 15%;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img {
    margin: 20px auto 0;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text {
    display: none;
  }
  .navbar .navbar-nav .navbar-btn:hover {
    width: 120px;
    text-align: center;
  }
  .navbar .navbar-nav .navbar-btn:hover .navbar-btn__img {
    margin: 10px auto 0;
  }
  .navbar .navbar-nav .navbar-btn:hover .navbar-btn__text {
    display: block;
    float: left;
    margin: 0 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav {
    width: 60%;
    display: inline-block;
    text-align: center;
  }
}

.navbar .navbar-nav_settings {
  font-size: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 991.99px) {
  .navbar .navbar-nav_settings {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1247.9px) {
  .navbar .navbar-nav_settings {
    display: inline-block;
    text-align: center;
  }
  .navbar .navbar-nav_settings .navbar-btn {
    width: calc(80px + 1vw);
  }
  .navbar .navbar-nav_settings .navbar-btn:hover {
    width: calc(80px + 1vw);
    text-align: center;
  }
}

@media only screen and (min-width: 1248px) {
  .navbar .navbar-nav_settings .navbar-btn {
    width: 50%;
  }
}

@media only screen and (max-width: 575.99px) {
  .navbar {
    transition: .2s;
  }
  .navbar .navbar-brand {
    position: absolute;
    top: 10px;
    left: calc(10px + 2vw);
    background-color: #ffffff;
    border-radius: 50px;
    padding: 0 17px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: .2s;
  }
  .navbar .navbar-brand .logo {
    background-image: url(../images/zeton1b-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    width: calc(60px - 32px);
    height: 60px;
    margin: 0 auto;
    transition: .1s;
  }
  .navbar .navbar-nav,
  .navbar .navbar-nav_settings {
    display: none;
    transition: .3s;
  }
  .navbar .navbar-nav .navbar-btn,
  .navbar .navbar-nav_settings .navbar-btn {
    font-size: 0;
    height: 58px;
    padding: 0 10px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin: 15px 20px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: hidden;
    line-height: 57px;
    margin-left: 0px;
  }
  .navbar:hover {
    width: 200px;
    min-height: 550px;
    height: 100%;
    left: 0;
    transition: .2s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar:hover .navbar-brand {
    position: relative;
    background-color: transparent;
    border-radius: 0x;
            box-shadow: none;
    padding: 0;
    background-image: none;
    cursor: pointer;
  }
  .navbar:hover .navbar-brand .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    background-size: 65%;
    width: calc(200px - 32px);
    height: 80px;
    margin: 0 auto;
  }
  .navbar:hover .navbar-nav,
  .navbar:hover .navbar-nav_settings {
    display: block;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin-right: 10px;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: visible;
    line-height: 57px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .navbar {
    min-height: 550px;
    width: 80px;
    height: 100%;
    left: 0;
    transition: .2s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-brand .logo {
    background-image: url(../images/zeton1b-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    width: calc(80px - 32px);
    height: 80px;
    margin: 0 auto;
    transition: .2s;
  }
  .navbar .navbar-nav,
  .navbar .navbar-nav_settings {
    transition: .3s;
  }
  .navbar .navbar-nav .navbar-btn,
  .navbar .navbar-nav_settings .navbar-btn {
    font-size: 0;
    height: 58px;
    padding: 0 10px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin: 15px 20px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: hidden;
    line-height: 57px;
    margin-left: 0px;
  }
  .navbar:hover {
    width: 200px;
  }
  .navbar:hover .navbar-brand .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width: calc(200px - 32px);
    margin: 0 auto;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin-right: 10px;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: visible;
    line-height: 57px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    height: 80px;
    width: 100%;
    top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .navbar-brand .logo .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(80px - 16px);
    width: 100px;
  }
}

.login {
  width: 500px;
  max-width: 1200px;
  min-width: 296px;
  margin: calc(100px + 5vh) auto;
  background-color: #ffffff;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 0;
}

@media only screen and (max-width: 991.99px) {
  .login {
    width: 80%;
    min-width: 200px;
    margin: 5vh auto;
  }
}

@media only screen and (min-width: 992px) {
  .login {
    min-width: 500px;
    padding: 15px 2vw;
    margin: 0 auto;
  }
}

.login .col .form .section__title {
  line-height: 150%;
  padding: 5px 0 calc(10px + 2vh);
  text-align: center;
}

.login .col .form .article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: center;
  padding: calc(5px + 2vh) 0 calc(5px + 2vh);
}

.login .col .form .article__item .button-switch, .login .col .form .article__item .button-add,
.login .col .form .article__item .button-add {
  margin: 0 5px;
}

@media only screen and (max-width: 575.99px) {
  .login .col .form .article__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login .col .form .article__item .button-switch, .login .col .form .article__item .button-add {
    margin: 5px auto 10px;
    width: auto;
    max-width: 90%;
  }
  .login .col .form .article__item .button-add {
    margin: 10px auto 0;
    max-width: 90%;
  }
}

.login-header {
  display: block;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.login-header .login-logo {
  height: 100px;
}

.registration .col .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcome {
  background-color: #4700c9;
}

.welcome .col .article__container {
  background-color: transparent;
  height: 80px;
}

@media only screen and (max-width: 575.99px) {
  .welcome .col .article__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.welcome .col .article__container .article__title {
  line-height: 50px;
  color: #ffffff;
}

.children {
  background-color: #ffffff;
}

.children .col .article__container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.children .col .article__container:nth-of-type(1) {
  border-bottom: none;
}

.children .col .article__container .article__box {
  padding: 0 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.children .col .article__container .article__box .image__container {
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
  padding: 0;
  background-color: #ffffff;
  margin: 0;
  border: solid 5px #ffffff;
}

@media only screen and (min-width: 576px) {
  .children .col .article__container .article__box .image__container {
    margin: 0 auto;
  }
}

.children .col .article__container .article__box .image__container .portrait__image {
  width: 80px;
  height: 80px;
}

.children .col .article__container .article__box .article__title {
  padding: 0 3px;
}

.children .col .article__container .article__box .article__text {
  color: #a2a4aa;
  padding: 0 3px;
}

.children .col .article__container .article__box .button__container {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  padding: 5px;
}

.children .col .article__container .article__box .button__container .button__choose {
  height: 40px;
  width: 40px;
  background-image: url("../images/verification-symbol.svg");
  background-size: cover;
  border: none;
}

.index-child .col .article__container {
  background-color: #4700c9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-child .col .article__container .article__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.index-child .col .article__container .article__box .article__item {
  padding: 10px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-child .col .article__container .article__box .article__item .article__text {
  font-size: 100%;
  line-height: 100%;
  color: #ffffff;
}

.index-child .col .article__container .article__box .article__item:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.index-child .col .article__container .article__box .article__item:nth-of-type(1) .image__container {
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
  padding: 0;
  background-color: #ffffff;
  margin: 0 auto 15px;
  border: solid 5px #ffffff;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.index-child .col .article__container .article__box .article__item:nth-of-type(1) .image__container .portrait__image {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 575.99px) {
  .index-child .col {
    padding: 0;
  }
  .index-child .col .article__container {
    padding: 10px;
  }
  .index-child .col .article__container .article__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index-child .col .article__container .article__box .article__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 calc(2px + 2vw);
    width: 100%;
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .index-child .col .article__container .article__box .article__item:first-of-type {
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .index-child .col .article__container .article__box .article__item:first-of-type .image__container {
    width: 70px;
    height: 70px;
  }
  .index-child .col .article__container .article__box .article__item:first-of-type .image__container .portrait__image {
    width: 60px;
    height: 60px;
  }
  .index-child .col .article__container .article__box .article__item .article__text {
    font-size: 90%;
    line-height: 100%;
  }
  .index-child .col .article__container .article__box .article__item .content-switched:first-of-type {
    display: none;
  }
  .index-child .col .article__container .article__box .article__item .section__title_light {
    line-height: 100%;
    font-size: 2em;
  }
  .index-child .col .article__container .article__box:nth-of-type(2) .article__item .article__title {
    line-height: 110%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .index-child .col .article__container .article__box {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .index-child .col .article__container .article__box .article__item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 20px;
  }
  .index-child .col .article__container .article__box .article__item:first-of-type {
    padding-bottom: 0;
  }
  .index-child .col .article__container .article__box .article__item .article__text {
    font-size: 90%;
    line-height: 100%;
  }
  .index-child .col .article__container .article__box .article__item .content-switched:last-of-type {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .index-child {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .index-child .col {
    width: 100%;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .index-child .col .article__container {
    width: calc(90% + 2vw - 5px);
    border-radius: 4px;
  }
  .index-child .col .article__box .article__item .content-switched:last-of-type {
    display: none;
  }
}

.add-child {
  background-color: #ffffff;
}

.add-child .col {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.add-child .col .article__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.add-child .col .article__container .article__box {
  margin: 10px;
}

.add-child .col .article__container .article__box .button-add {
  margin: 0 auto;
}

#subtraction
{
text-align:center;
}

/*Test-SASS*/
/*# sourceMappingURL=style.css.map */