/* Colors */
/* Media queries */
/* Margins */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

/*main sections*/
body {
  background-color: #f4f5f9;
}

@media only screen and (orientation: portrait) and (max-width: 575.99px) {
  .wrapper_withNavbar {
    padding-left: 0;
    padding-top: 80px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .wrapper_withNavbar {
    padding-left: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper_withNavbar {
    padding-top: 80px;
  }
}

/* Components */
.navbar-btn {
  margin: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.navbar-btn:hover {
  background-color: #0141c5;
  cursor: pointer;
}

.navbar-btn:hover .navbar-btn__text {
  color: #ffffff;
}

@media only screen and (max-width: 991.99px) {
  .navbar-btn {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-btn {
    display: inline-block;
    padding: 8px calc(10px);
    height: 80px;
    margin: 0;
    width: 120px;
  }
}

.navbar-btn .navbar-btn__img {
  height: 25px;
  display: block;
  margin: 10px auto 0;
}

.navbar-btn .navbar-btn__text {
  margin: 0;
  display: block;
  font-size: 13px;
}

.article__container {
  width: 500px;
  min-width: 300px;
  max-width: 1200px;
  margin: calc(100px + 5vh) auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 575.99px) {
  .article__container {
    margin: calc(20px + 2vh) auto 10px;
  }
}

@media only screen and (max-width: 991.99px) {
  .article__container {
    width: 90%;
    min-width: 300px;
    margin: 5vh auto;
  }
}

@media only screen and (min-width: 992px) {
  .article__container {
    min-width: 500px;
    width: 80%;
    padding: 15px 2vw;
    margin: calc(10px + 2vh) auto 10px;
  }
}

.article__item {
  margin: 0 auto;
  min-width: 50px;
  min-height: 50px;
}

.article__box {
  margin: 0;
  width: 100%;
}

.article__title {
  font-size: calc(18px + 1vw);
  line-height: 180%;
  color: #000000;
}

.article__title_light {
  font-size: calc(18px + 1vw);
  line-height: 180%;
  color: #ffffff;
}

.article__text {
  line-height: 130%;
}

.article__image {
  position: absolute;
  max-height: 100%;
}

.portrait__image {
  position: relative;
  margin: 0 auto;
}

/* Sections */
.navbar {
  background-color: #ffffff;
  position: absolute;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  padding: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  top: 0;
}

.navbar .navbar-brand {
  padding: 8px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .navbar-brand .logo {
  background-image: url(../images/zeton1b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: calc(80px - 16px);
  width: 100px;
}

.navbar .navbar-nav {
  font-size: 0;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media only screen and (max-width: 991.99px) {
  .navbar .navbar-nav {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  .navbar .navbar-nav {
    width: 60%;
    display: inline-block;
    text-align: center;
  }
  .navbar .navbar-nav .navbar-btn {
    width: 15%;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img {
    margin: 20px auto 0;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text {
    display: none;
  }
  .navbar .navbar-nav .navbar-btn:hover {
    width: 120px;
    text-align: center;
  }
  .navbar .navbar-nav .navbar-btn:hover .navbar-btn__img {
    margin: 10px auto 0;
  }
  .navbar .navbar-nav .navbar-btn:hover .navbar-btn__text {
    display: block;
    float: left;
    margin: 0 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav {
    width: 60%;
    display: inline-block;
    text-align: center;
  }
}

.navbar .navbar-nav_settings {
  font-size: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 991.99px) {
  .navbar .navbar-nav_settings {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1247.9px) {
  .navbar .navbar-nav_settings {
    display: inline-block;
    text-align: center;
  }
  .navbar .navbar-nav_settings .navbar-btn {
    width: calc(80px + 1vw);
  }
  .navbar .navbar-nav_settings .navbar-btn:hover {
    width: calc(80px + 1vw);
    text-align: center;
  }
}

@media only screen and (min-width: 1248px) {
  .navbar .navbar-nav_settings .navbar-btn {
    width: 50%;
  }
}

@media only screen and (max-width: 575.99px) {
  .navbar {
    -webkit-transition: .2s;
    transition: .2s;
  }
  .navbar .navbar-brand {
    position: absolute;
    top: 10px;
    left: calc(10px + 2vw);
    background-color: #ffffff;
    border-radius: 50px;
    padding: 0 17px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .navbar .navbar-brand .logo {
    background-image: url(../images/zeton1b-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    width: calc(60px - 32px);
    height: 60px;
    margin: 0 auto;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .navbar .navbar-nav,
  .navbar .navbar-nav_settings {
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .navbar .navbar-nav .navbar-btn,
  .navbar .navbar-nav_settings .navbar-btn {
    font-size: 0;
    height: 58px;
    padding: 0 10px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin: 15px 20px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: hidden;
    line-height: 57px;
    margin-left: 0px;
  }
  .navbar:hover {
    width: 200px;
    min-height: 550px;
    height: 100%;
    left: 0;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar:hover .navbar-brand {
    position: relative;
    background-color: transparent;
    border-radius: 0x;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    background-image: none;
    cursor: pointer;
  }
  .navbar:hover .navbar-brand .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    background-size: 65%;
    width: calc(200px - 32px);
    height: 80px;
    margin: 0 auto;
  }
  .navbar:hover .navbar-nav,
  .navbar:hover .navbar-nav_settings {
    display: block;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin-right: 10px;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: visible;
    line-height: 57px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991.99px) {
  .navbar {
    min-height: 550px;
    width: 80px;
    height: 100%;
    left: 0;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-brand .logo {
    background-image: url(../images/zeton1b-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    width: calc(80px - 32px);
    height: 80px;
    margin: 0 auto;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .navbar .navbar-nav,
  .navbar .navbar-nav_settings {
    -webkit-transition: .3s;
    transition: .3s;
  }
  .navbar .navbar-nav .navbar-btn,
  .navbar .navbar-nav_settings .navbar-btn {
    font-size: 0;
    height: 58px;
    padding: 0 10px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin: 15px 20px;
    overflow: hidden;
  }
  .navbar .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: hidden;
    line-height: 57px;
    margin-left: 0px;
  }
  .navbar:hover {
    width: 200px;
  }
  .navbar:hover .navbar-brand .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    width: calc(200px - 32px);
    margin: 0 auto;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__img,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__img {
    display: block;
    float: left;
    margin-right: 10px;
  }
  .navbar:hover .navbar-nav .navbar-btn .navbar-btn__text,
  .navbar:hover .navbar-nav_settings .navbar-btn .navbar-btn__text {
    visibility: visible;
    line-height: 57px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    height: 80px;
    width: 100%;
    top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .navbar-brand .logo .logo {
    background-image: url(../images/zeton1b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(80px - 16px);
    width: 100px;
  }
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 575.99px) {
  .mobile-header {
    display: block;
    width: 100vw;
  }
  .mobile-header .mobile-brand {
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgray;
    background-image: url(../images/zeton1c-white.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 70%;
    padding: 0 calc(100vw - 20px - 48px) 0 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 80px;
    width: 100%;
  }
}

.login {
  width: 500px;
  max-width: 1200px;
  margin: calc(100px + 5vh) auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 0;
}

@media only screen and (max-width: 991.99px) {
  .login {
    width: 80%;
    min-width: 200px;
    margin: 5vh auto;
  }
}

@media only screen and (min-width: 992px) {
  .login {
    min-width: 500px;
    padding: 15px 2vw;
    margin: 0 auto;
  }
}

.login-header {
  display: block;
  width: 100%;
  margin: calc(20px + 2vh) auto;
  text-align: center;
}

.login-header .login-logo {
  height: 100px;
}

.welcome .article__container .article__item:first-of-type .article__image {
  left: 0;
  bottom: 0;
}

.welcome .article__container .article__item:last-of-type .article__image {
  right: 0;
  top: 0;
}

.children .article__container {
  padding: 0;
}

.children .article__container .article__box {
  padding: 10px;
  background-color: #0141c5;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.children .article__container .article__box .article__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.children .article__container .article__box .article__item:nth-of-type(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.children .article__container .article__box .article__item:nth-of-type(2) {
  position: relative;
  margin: 10px auto;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.children .article__container .article__box .article__item:nth-of-type(2) .image__container {
  border-radius: 50%;
  overflow: hidden;
  width: 90px;
  height: 90px;
  padding: 0;
  background-color: #ffffff;
  margin: 0 auto;
  border: solid 5px #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.children .article__container .article__box .article__item:nth-of-type(2) .image__container .portrait__image {
  width: 80px;
  height: 80px;
}
/*# sourceMappingURL=style.css.map */