{% extends "base.html" %}
{% block content %}
    <div class="col col-sm-12">
        {% include "childs_basic_data.html" %}
        <form>
            <div class="form-group button">
                <a class="btn btn-info" href="/api/warn/{{ child.id }}?return_url=/bans_detail/{{ child.id }}">DAJ
                    WARNA</a>

                <a class="btn btn-info" {% if child.bans.3.active %}
                   disabled="disabled"
                {% endif %} href="/api/kick/{{ child.id }}?return_url=/bans_detail/{{ child.id }}">DAJ KICKA</a>

                <a class="btn btn-info" href="/api/ban/{{ child.id }}?return_url=/bans_detail/{{ child.id }}">DAJ
                    BANA</a>

            </div>
        </form>

        <form>
            <div class="button">
                {% if role == 'caregiver' %}
                    <a class="btn btn-info" href="/child/{{ child.id }}">Wróć</a>
                {% endif %}
                <a class="btn btn-info" href="/">Strona główna</a>
                <a class="btn btn-info" href="/logout">Wyloguj</a>
            </div>
        </form>
    </div>
{% endblock %}