<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    {% block background%}
    <title>Żeton</title>
</head>

<body>
    <header class="main-header">
        <nav class="navbar">
            <div class="navbar-brand">
                <div class="logo"></div>
            </div>
            <div class="navbar-nav">
                <a class="navbar-btn">
                    <img src="" alt="" class="navbar-btn__img">
                    <p class="navbar-btn__text">Powiadomienia</p>
                </a>
                <a class="navbar-btn">
                    <img src="" alt="" class="navbar-btn__img">
                    <p class="navbar-btn__text">Podopieczni</p>
                </a>
            </div>
        </nav>
    </header>


    <main>
        <section class="login">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    {% block content%}
                    {%endblock%}
                </div>
            </div>
        </section>
    </main>
    {%endblock%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>