{% extends "base.html" %}
{% block content %}
<div class="col col-sm-12">

    <center><h2>Informacje na temat {{ child.firstname }}</h2>
        <h3>Szkolny rekord tygodnia : {{ child.school_weekly_highscore }}</h3>
        <h3>Punkty: {{ child.points }} punkty.</h3>

        {% if child.bans.6.active %}
        <h4><b class="text-danger">MA BANA! </b> do {{ child.bans.6.stop|ban_time }}</h4>
        {% else %}
        <h2 style="color: green;">Możesz korzystać z komputera</h2>
        {% endif %}

    </center>
    <br>
    <div class="row">

        <div id="dodawanie" class="col-xl-6 square">
            <center>
                <h2>Dodawaj punkty</h2>
                <form action="/api/child/{{ child.id }}/points/add" method="post">
                    <div class="form-group button">
                        Liczba punktów: <input class="form-control" type="number"
                                               name="liczba_punktow" required>
                        <input class="btn btn-info" type="submit" name="dodaj punkty"
                               value="Dodaj punkty"/>
                    </div>
                </form>

        <h4 style="text-align: center;">SPOSOBY NA ZDOBYCIE PUNKTÓW</h4>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Punkty</th>
                    <th>Max. dziennie</th>
                    <th>Max. tygodniowo</th>
                </tr>
                {% for task in childs_tasks %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.points }}</td>
                    <td>{{ task.max_day }}</td>
                    <td>{{ task.max_week }}</td>
                </tr>
                {% endfor %}
            </table>
        <h5>SZKOLNY REKORD TYGODNIA--> chipsy & extra 100 pkt</h5>
    </div>

        <div id="odejmowanie" class="col-xl-6 square">
            <center>
                <h2>Wykorzystaj punkty</h2>
                <form action="/api/child/{{ child.id }}/points/use?return_url=/child/{{ child.id }}" method="post">
                    <div class="form-group button">
                        Liczba punktów: <input class="form-control" type="number"
                                               name="points"
                                               required>

                        <input class="btn btn-info" type="submit" name="wykorzystaj punkty"
                               value="Wykorzystaj punkty"/>
                    </div>
                    <h4>NAGRODY</h4>
                </form>
            </center>
            <ul>

            <ul style="text-align:left;">

            <table>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Punkty</th>
                    <th>Max. dziennie</th>
                    <th>Max. tygodniowo</th>
                    <th>Max. miesięcznie</th>
                </tr>
                {% for prize in childs_prizes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ prize.name }}</td>
                    <td>{{ prize.points }}</td>
                    <td>{{ prize.max_day }}</td>
                    <td>{{ prize.max_week }}</td>
                    <td>{{ prize.max_month }}</td>
                </tr>
                {% endfor %}
            </table>

            </ul>

        </form>
    </div>
    <div  id="bany_warny" class="col-xl-6 square">
        <h2 style="text-align: center;"> *****Warny i bany****** </h2>

            <ol>
                {% for ban in child.bans.values() %}
                <li {%if ban.active %} style="color:red;" {% endif%}>WARN--> {{ban.name}}</li>
                {% endfor %}
            </ol>

            <center>
                <form>
                    <div class="form-group button">
                        <a class="btn btn-info" href="/api/warn/{{ child.id }}#bany_warny">DAJ WARNA</a>

                        <a class="btn btn-info" {% if child.bans.3.active %}
                           disabled="disabled"
                           {%endif%} href="/api/kick/{{ child.id }}#bany_warny">DAJ KICKA</a>

                        <a class="btn btn-info" href="/api/ban/{{ child.id }}#bany_warny">DAJ BANA</a>

                    </div>
                </form>
            </center>
        </div>


        <div id="punkty_szkola" class="col-xl-6 square">

            <center><h2> *** Punkty ze Szkoły *** </h2></center>
            <div><label> <input type="checkbox" name="1"> przyklad 1 </label></div>
            <div><label> <input type="checkbox" name="1"> przyklad 2 </label></div>
            <div><label> <input type="checkbox" name="1"> przyklad 3 </label></div>
            <div><label> <input type="checkbox"> przyklad 4 </label></div>
            <div><label> <input type="checkbox"> przyklad 5 </label></div>

        </div>

    </div>
    <center>
        <form>
            <div class="form-group button">

                <a class="btn btn-info" href="/">Strona główna</a>

                <a class="btn btn-info" href="/logout">Wyloguj</a>

            </div>
        </form>
    </center>
</div>
{% endblock %}

