<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Żeton</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>
<div id="container">
    <div class="logout-link">
        <a href="/logout">
            <button>LOGOUT</button>
        </a>
        <a href="/">Wróć do strony głównej</a>
    </div>

    <div class="rectangle">
        <h2>Informacje na temat {{ child.firstname }}</h2>
        <h3>Szkolny rekord tygodnia : {{ child.school_weekly_highscore }}</h3>
        <h3>Punkty: {{ child.points }} punkty.</h3>

        {% if child.bans.6.active %}
        <h2 style="text-align: center; color: red;"> Masz BANA !</h2>
        <h4> Ban kończy się: {{ child.bans.6.stop }}</h4>
        {% else %}
        <h2 style="color: green;">Możesz korzystać z komputera</h2>
        {% endif %}
    </div>

    <div id="dodawanie" class="square">
        <h2 style="text-align: center;">Dodawanie punktów dla użytkownika {{ child.firstname }}</h2>
        <form style="text-align: center;" action="/api/dodaj_punkt/{{ child.id }}" method="post">
            Liczba punktów <br> <input style="text-align: center;" type="number_format" name="liczba_punktow"
                                       required><br/>
            <br><input style="text-align: center;" type="submit" name="dodaj punkty" value="Dodaj punkty"/>
        </form>

        <h4 style="text-align: center;">SPOSOBY NA ZDOBYCIE PUNKTÓW</h4>

        <ul style="text-align:left;">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Punkty</th>
                    <th>Max. dziennie</th>
                    <th>Max. tygodniowo</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.points }}</td>
                    <td>{{ task.max_day }}</td>
                    <td>{{ task.max_week }}</td>
                </tr>
                {% endfor %}
            </table>
        </ul>
        <h5>SZKOLNY REKORD TYGODNIA--> chipsy & extra 100 pkt</h5>
    </div>

    <div id="odejmowanie" class="square">
        <h2 style="text-align: center">Wykorzystaj punkty</h2>
        <form style="text-align: center;" action="/api/wykorzystanie_punktow/{{child.id}}" method="post">
            Liczba punktów <br> <input style="text-align: center;" type="number_format" name="points_to_be_used"
                                       required><br/>
            <br><input type="submit" name="wykorzystaj punkty" value="Wykorzystaj punkty"/>
            <h4>NAGRODY</h4>

            <ul style="text-align:left;">

                <li>1 pkt--> 1 min komputer</li>
                <li>40 pkt--> cola (200ml) (raz na 7 dni )</li>
                <li>50 pkt--> cola (330ml) (raz na 7 dni)</li>
                <li>60 pkt--> zakupy w żabce (bez chipsów i Coca Coli)</li>
                <li>100 pkt--> kino domowe</li>
                <Li>200 pkt--> 6zł do wydania na mc.skyblock.pl</Li>
                <li>250 pkt--> jump city</li>
                <li>250 pkt--> kino</li>
                <li>250 pkt--> Aquapark reda</li>
                <li>250 pkt--> piżama party</li>

            </ul>

        </form>
    </div>
    <div id="bany_warny" class="square">
        <h2 style="text-align: center;"> *****Warny i bany****** </h2>

        <ol>
            {% for ban in child.bans.values() %}
            <li {%if ban.active %}  style ="color:red;"  {% endif%}>WARN--> {{ban.name}}


            </li>

            {% endfor %}
        </ol>
        <div style="margin-left:auto; margin-right:auto;" >
            <a href="/api/warn/{{ child.id }}#bany_warny">
                <button style="text-align: left;">DAJ WARNA</button>
            </a>
            <a href="/api/kick/{{ child.id }}#bany_warny">
                <button {% if child.bans.3.active %} disabled="disabled" {%endif%} >
                    DAJ KICKA
                </button>
            </a>
            <a href="/api/ban/{{ child.id }}#bany_warny">
                <button style="text-align: right;">DAJ BANA</button>
            </a>

        </div>
    </div>
    <div id="punkty_szkola" class="square">

        <h2> *** Punkty ze Szkoły *** </h2>
        <div><label> <input type="checkbox" name="1"> przyklad 1 </label></div>
        <div><label> <input type="checkbox" name="1"> przyklad 2 </label></div>
        <div><label> <input type="checkbox" name="1"> przyklad 3 </label></div>
        <div><label> <input type="checkbox"> przyklad 4 </label></div>
        <div><label> <input type="checkbox"> przyklad 5 </label></div>

    </div>

</div>

</body>
</html>

