<div class="text-center">
    <h2>{{ child.firstname }}</h2>
    <h2> Ilość punktów {{ child.points }} punktów</h2>
    <h3>Punkty doświadczenia {{ child.exp }} punktów</h3>
    <h3>Szkolny rekord tygodnia : {{ child.school_weekly_highscore }}</h3>

    {% if child.bans.6.active %}
        <h2 style="color: red;"> Masz BANA !</h2>
        <h4> Ban konczy sie: {{ child.bans.6.stop|ban_time }}</h4>
    {% else %}
        <h2 style="color: green;">Możesz korzystać z komputera</h2>
    {% endif %}
</div>