{% extends "base.html" %}
{% block content %}

<div class="col col-sm-6">

    <div class="text-center">
        <h2>{{ user_data.firstname }},</h2>
        <h2>zmień hasło dziecka o imieniu {{ child.firstname }}</h2>

        {% if messages %}
        <div class="alert alert-dark">{{ messages[0] }}</div>
        {% endif %}

        <form action="/api/settings/{{ child.id }}/set_password" method="post">
            <div class="form-group">
                <label for="inputPassword1">Aby zmienić hasło dziecka wpisz poniżej aktualne hasło </label>
                <br>
                <input type="password" class="form-control" name="password" id="inputPassword1"
                       placeholder="Hasło dziecka">
            </div>
            <div class="form-group">
                <label for="inputPassword2">Wpisz nowe hasło dziecka </label>
                <br>
                <input type="password" class="form-control" name="new_password" id="inputPassword2"
                       placeholder="Nowe hasło dziecka">
            </div>
            <div class="form-group">
                <label for="inputPassword3">Powtórz nowe hasło dziecka </label>
                <br>
                <input type="password" class="form-control" name="repeat_new_password" id="inputPassword3"
                       placeholder="Nowe hasło dziecka">
            </div>
            <br>
            <div class="form-group button">
                <button type="submit" class="btn btn-info">Prześlij</button>
            </div>
            <div>
                <center>

                    <form>
                        <div class="form-group button">

                            <a class="btn btn-info" href="/">Strona główna</a>

                            <a class="btn btn-info" href="/logout">Wyloguj</a>

                            <a class="btn btn-info" href="/child-settings/{{ child.id }}">Wróć</a>
                        </div>
                    </form>
                </center>
            </div>
        </form>
    </div>
</div>

{% endblock %}
