{% extends "base.html" %}
{% block content %}
<div class="col col-sm-12">
    <center>
        <h2>Witaj {{ child.firstname }}</h2>
        <h2> Obecnie masz {{ child.points }} punktów</h2>
        <h3>Szkolny rekord tygodnia : {{ child.school_weekly_highscore }}</h3>

        {% if child.bans.6.active %}
        <h2 style="color: red;"> Masz BANA !</h2>
        <h4> Ban kończy się: {{ child.bans.6.stop|ban_time }}</h4>
        {% else %}
        <h2 style="color: green;">Możesz korzystać z komputera</h2>
        {% endif %}
    </center>
    <br>
    <div class="row">

        <div id="dodawanie" class="col-xl-6 square">
            <center><h2>Sposób na zdobycie punktów</h2></center>
            <br>
            <ul>
                <li>sprzątanie pokoju--> 20pkt</li>
                <li>wykonanie polecenia bez zwłoki--> 2pkt</li>
                <li>odrobionie lekcji--> 20pkt</li>
                <li>spakowanie plecaka--> 20pkt</li>
                <li>spakowanie plecaka (z mamą)--> 5pkt</li>
                <li>pomoc rodzicom--> 10-60pkt</li>
                <li>zenek--> 20pkt</li>
            </ul>
            <center><h5>SZKOLNY REKORD TYGODNIA--> chipsy & extra 100 pkt</h5></center>
        </div>

        <div id="odejmowanie" class="col-xl-6 square">
            <center><h2>Wykorzystaj punkty</h2>
                <form action="/api/child/{{ child.id }}/points/use" method="post">
                    <div class="form-group button">
                        Liczba punktów: <input class="btn btn-light" type="number"
                                               name="points"
                                               required>

                        <input class="btn btn-info" type="submit" name="wykorzystaj punkty"
                               value="Wykorzystaj punkty"/>
                    </div>
                    <h4>NAGRODY</h4>
                </form>
            </center>

            <ul style="text-align:left;">

                <li>1 pkt--> 1 min komputer</li>
                <li>40 pkt--> cola (200ml) (raz na 7 dni )</li>
                <li>50 pkt--> cola (330ml) (raz na 7 dni)</li>
                <li>60 pkt--> zakupy w żabce (bez chipsów i Coca Coli)</li>
                <li>100 pkt--> kino domowe</li>
                <Li>200 pkt--> 6zł do wydania na mc.skyblock.pl</Li>
                <li>250 pkt--> jump city</li>
                <li>250 pkt--> kino</li>
                <li>250 pkt--> Aquapark reda</li>
                <li>250 pkt--> piżama party</li>
            </ul>

        </div>

        <div id="bany_warny" class="col-xl-6 square">
            <h2 style="text-align: center;"> *****Warny i bany****** </h2>
            <!--#TODO wymyślić i zmienić nazwę nagłówka "Warny i bany" -->            <ol>
                {% for ban in child.bans.values() %}
                <li {%if ban.active %} style="color:red;" {% endif%}>WARN--> {{ban.name}}


                </li>

                {% endfor %}
            </ol>

        </div>

        <div id="punkty_szkola" class="col-xl-6 square">

            <center><h2> *** Punkty ze Szkoły *** </h2></center>
            <div><label> <input type="checkbox" name="1"> przyklad 1 </label></div>
            <div><label> <input type="checkbox" name="1"> przyklad 2 </label></div>
            <div><label> <input type="checkbox" name="1"> przyklad 3 </label></div>
            <div><label> <input type="checkbox"> przyklad 4 </label></div>
            <div><label> <input type="checkbox"> przyklad 5 </label></div>

        </div>
    </div>
    <center>
        <form>
            <div class="form-group button">
                <a class="btn btn-info" href="/logout">Wyloguj</a>
            </div>
        </form>
    </center>
</div>
{%endblock%}
