{% extends "base.html" %}
{% block content %}
<div class="col col-sm-6">

    <form>
        <h2>Witaj {{ firstname }}</h2>

        <center><h3>Twoi podopieczni to: </h3></center>

        <div class="list-group">
            {% for child in children %}
            <a href="/child/{{ child.id }}"
               class="list-group-item list-group-item-action list-group-item-light">{{
                child.firstname }}
                : ma {{ child.points }} punktów.
                {% if child.bans.6.active %}
                <br>
                <b class="text-danger">MA BANA! </b> od {{ child.bans.6.start }} do {{ child.bans.6.stop }}
                {% endif %}
            </a>
            <br>
            {% endfor %}
        </div>
    </form>
    <form action="/logout">
        <div class="form-group button">
            <button class="btn btn-info">Wyloguj</button>
        </div>
    </form>

</div>
{% endblock %}

