<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Żeton</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>


<html>
<body>
    <div id="container">
        <div class="rectangle">
            <h2>Stasiu, obecnie masz {{punkty}} punktów</h2>
        </div>

        <div class="square">
            <h1>Dodawanie punktów dla Stasia</h1>
            <form action="/wszystkie-posty" method="post">
                Liczba punktów <br> <input type="number_format" name="liczba_punktow" required><br/>
                <br><input type="submit" name="dodaj punkty" value="Dodaj punkty"/>
            </form>
        </div>

        <div class="square">
            <h1>Wykorzystaj punkty</h1>
            <form action="/wykorzystanie_punktow" method="post">
                Liczba punktów <br> <input type="number_format" name="liczba_punktow" required><br/>
                <br><input type="submit" name="wykorzystaj punkty" value="Wykorzystaj punkty"/>
            </form>
        </div>

        <div style="clear:both"></div>


    </div>





<h2> *****Warny i bany****** </h2>
<div>
    {% if ban %}
    <h1> Masz BANA !</h1>
    {% else %}
    <h1>Możesz korzystać z komputera</h1>
    {% endif %}
</div>


</body>
</html>

