{% extends "base.html" %}
{% block content %}
            <section class="children">
                {% for child in children %}
                    <div class="col col-sm-12 col-md-12 col-lg-5">
                        <article class="article__container">
                            <div class="article__box">
                                <div class="article__item">
                                    <h3 class="article__title_light">{{ child.firstname }}</h3>
                                    <div class="image__container">
                                        <img class="portrait__image" src="../static/images/user_circle.svg">
                                        <!--#TODO add avatar different for each child or default avatar -->
                                    </div>
                                </div>
                                <div class="article__item">
                                    <p class="article__text">PKT</p>
                                    <h2 class="section__title_light">{{ child.points }}</h2>
                                </div>
                            </div>
                            <div class="article__box">
                                <a href="/child/{{ child.id }}" class="article__item">
                                    <button class="button-switch">Wybierz</button>
                                </a>
                            </div>
                        </article>
                    </div>
                {% endfor %}

            </section>

        <!--#TODO refactor and style this button group-->
        <div class="form-group button">
            <a class="btn btn-info" href="/logout">Wyloguj</a>
            <a class="btn btn-info" href="/settings">Ustawienia</a>
            <a href="{{ url_for('auth.add_person') }}" class="btn btn-info" role="button">Dodaj Osobę</a>
        </div>
{% endblock %}

