{% extends "base.html" %}
{% block content %}
<section class="login">
    <div class="col col-sm-6">

        <form method="post">
            <h2>Zaloguj się</h2>
            <div class="form-group">
                <label for="inputEmail1">Login/email</label>
                <input type="login" class="form-control" name="login" id="inputEmail1" aria-describedby="emailHelp"
                    placeholder="Wprowadź login lub email">
            </div>
            <div class="form-group">
                <label for="inputPassword1">Hasło</label>
                <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="Hasło">
            </div>
            <div class="form-group button">
                <button type="submit" class="btn btn-info">Prześlij</button>
            </div>
            {% if error %}
            <h3 style="text-align: center; color: red;">Błędny login lub hasło</h3>
            {% endif %}
        </form>
</section>
</div>
{% endblock %}