{% extends "base.html" %}
{% block content %}
 <div class="col col-sm-3">
    <form action="" method="POST">
        <h2>Rejestracja</h2>
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="text" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="text" name="role" placeholder="Role" required>
        </div>
        <div>
            <input type="text" name="first_name" placeholder="First Name" required>
        </div>
        <div class="form-group button">
            <button type="submit" class="btn btn-info">Zarejestruj</button>
        </div>
    </form>
 </div>
{% endblock content %}
