{% extends "base.html" %}
{% block content %}
    <div class="col col-sm-12">
        {% include "childs_basic_data.html" %}
        <div class="col col-sm-12">
            <div class="row">
                <div id="dodawanie" class="col-xl-7 square text-align-right">
                    <h2 class="text-center">Sposoby na zdobycie punktów</h2>
                    <br>
                    <ul>
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Nazwa</th>
                                <th>Punkty</th>
                                <th>Maksymalnie dziennie</th>
                                <th>Maksymalnie tygodniowo</th>
                            </tr>
                            {% for task in childs_tasks %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.points }}</td>
                                    <td>{{ task.max_day }}</td>
                                    <td>{{ task.max_week }}</td>
                                    <form action="/api/child/{{ child.id }}/tasks/delete/{{ task.id }}"
                                          method="post">
                                        <td><input class="btn btn-info" type="submit" name="Delete_task"
                                                   value="Usuń"/></td>
                                    </form>
                                    <form>
                                        <div class="button">
                                            <td><a class="btn btn-info" href="/task_detail/{{ child.id }}/edit_task/{{ task.id }}">Edytuj</a></td>
                                        </div>
                                    </form>
                                </tr>
                            {% endfor %}
                        </table>
                    </ul>
                </div>
            </div>

            <form>
                <div class="button">
                    {% if role == 'caregiver' %}
                        <a class="btn btn-info" href="/task_detail/{{ child.id }}/add_task">Dodaj zadanie</a>
                        <br><br>
                        <a class="btn btn-info" href="/child/{{ child.id }}">Wróć</a>

                    {% endif %}
                    <a class="btn btn-info" href="/">Strona główna</a>
                    <a class="btn btn-info" href="/logout">Wyloguj</a>
                </div>
            </form>

{% endblock %}