{% block top %}
            <section class="welcome">
                <div class="col col-sm-12 col-md-12 col-lg-12">
                    <article class="article__container">
                        <div class="article__item">
                            <img class="article__image" src="../static/images/watercolor-flower.png">
                        </div>
                        <div class="article__item">
                            <h3 class="article__title">Witaj, {{ firstname }}</h3>
                            <p class="article__text">Wybierz podopiecznego</p>
                        </div>
                        <div class="article__item">
                            <img class="article__image" src="../static/images/watercolor-flower2.png">
                        </div>
                    </article>
                </div>
            </section>
{% endblock %}