{% extends "base.html" %}
{% block content %}

<div class="col col-sm-6">
    <form action="api/settings/set_password" method="post">
        <div class="form-group">
            <label for="inputPassword1">Aby zmienić hasło wpisz poniżej aktualne hasło </label>
            <br>
            <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="Hasło">
        </div>
        <div class="form-group">
            <label for="inputPassword2">Wpisz nowe hasło </label>
            <br>
            <input type="password" class="form-control" name="new_password" id="inputPassword2"
                   placeholder="Nowe hasło">
        </div>
        <div class="form-group">
            <label for="inputPassword3">Powtórz nowe hasło </label>
            <br>
            <input type="password" class="form-control" name="repeat_new_password" id="inputPassword3"
                   placeholder="Nowe hasło">
        </div>
        <br>
        <div class="form-group button">
            <button type="submit" class="btn btn-primary">Prześlij</button>
        </div>
        <!--{% if messages %}-->
        <!--<div class="alert alert-dark">{{ messages[0] }}</div>-->
        <!--{% endif %}-->
    </form>


{% endblock %}