{% extends "base.html" %}
{% block content %}

<div class="col col-sm-6">
    <form>
        <h2>Ustawienia:</h2>

        <form>
            <div class="form-group button">

                <a class="btn btn-info" href="/password">Zmiana hasła</a>

            </div>
        </form>

        <br/>
        <br/>


        <form>
            <div class="form-group button">

                <a class="btn btn-info" href="/">Strona główna</a>

                <a class="btn btn-info" href="/logout">Wyloguj</a>

            </div>
        </form>

    </form>
</div>


{% endblock %}
