{% extends "base/base.html" %}
{% block head %}
{{ super() }}
{% block password %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock password %}
{% endblock head %}

{% block content %}
<section class="registration login">
    <div class="col col-sm-12">
        <form class="form" action="/api/user" method="POST">

            <h2 class="section__title">Rejestracja</h2>

            {% block add_person %}{% endblock add_person %}
            <div class="form-group">
                <label class="form__label">Nazwa użytkownika:</label>
                <input class="form-control" type="text" name="username" placeholder="Nazwa użytkownika" required>
            </div>
            <div class="form-group">
                <label class="form__label">Adres email:</label>
                <input class="form-control" type="email" name="email" placeholder="Adres email" required>
            </div>
            <div class="form-group">
                <label class="form__label">Hasło:</label>
                <div class="input-group">
                    <input class="form-control pwd" type="password" name="password" placeholder="Hasło" required>
                    <div class="input-group-append">
                        <span class="input-group-btn"></span>
                        <button class="btn btn-light reveal" type="button"><i class="fa fa-eye"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group button article__item">
                <button type="submit" class="button-switch">Zarejestruj</button>
                <a href="{{ prev_url }}" class="button-return">Powrót</a>
            </div>            
        </form>
    </div>
</section>
<script>
    $(".reveal").on('click', function () {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
</script>
{% endblock content %}