{% extends "base/base.html" %}
{% block content %}

<div class="container">
    {% include "base/user_basic_data.html" %}
    <h2 class="text-center">Ustawienia:</h2>
    <div class="d-flex justify-content-center">


        <div class="btn-group-vertical">

            <a class="btn btn-outline-primary" role="button" href="/settings/password">Zmiana hasła</a>
            <a class="btn btn-outline-primary" role="button" href="/settings/firstname">Zmiana imienia</a>
            <a class="btn btn-outline-primary" role="button" href="/settings/admin/permissions">Edytuj upoważnienia</a>

        </div>
    </div>

        <br/>
        <br/>


        <form>
            <div class="form-group button text-center">

                <a class="btn btn-primary" href="/">Strona główna</a>

                <a class="btn btn-primary" href="/logout">Wyloguj</a>

            </div>
        </form>

    </form>
</div>


{% endblock %}
