.button-checkout {
    width: calc(100px + 3vw);
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: $zet-box-shadow;
    transition: .2s;
    border: solid 1px $zet-gray-color;
    background-color: $zet-gray-color;
    color: $zet-white-color;

    &:hover {
        border: solid 1px transparent;
        background-color: $zet-blue-color;
        background-image: $zet-bg-gradient;
        color: $zet-white-color;
    }
}