.article__container {
    width: 500px;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $zet-white-color;
    box-shadow: $zet-box-shadow;
    border-radius: $zet-box-radius;
    padding: 15px;
    display: flex;
    position: relative;

    @media only screen and (max-width: $zet-screen-sm-max) {
        margin: 0 auto;
        min-width: calc(280px + 2vw);
        width: 90%;
    }

    @media only screen and (min-width: $zet-screen-sm-min) and (max-width: $zet-screen-lg-max) {
        width: 90%;
        min-width: 300px;        
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        min-width: 500px;
        width: 80%;
        padding: 15px 2vw;        
    }
}

.article__item {    
    margin: 0 auto;
    min-width: 50px;
    min-height: 50px;
}

.article__box {
    margin: 0;
    width: 100%;
}

.form-group {
    margin: 0;
}