.article__container {
    width: 500px;
    min-width: 300px;
    max-width: 1200px;
    margin: calc(100px + 5vh) auto;
    background-color: $zet-white-color;
    box-shadow: $zet-box-shadow;
    border-radius: $zet-box-radius;
    padding: 15px;
    display: flex;
    position: relative;

    @media only screen and (max-width: $zet-screen-sm-max) {
        margin: calc(20px + 2vh) auto 10px;
    }

    @media only screen and (max-width: $zet-screen-lg-max) {
        width: 90%;
        min-width: 300px;
        margin: 5vh auto;
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        min-width: 500px;
        width: 80%;
        padding: 15px 2vw;
        margin: calc(10px + 2vh) auto 10px;
    }
}

.article__item {    
    margin: 0 auto;
    min-width: 50px;
    min-height: 50px;
}

.article__box {
    margin: 0;
    width: 100%;
}