.article__container {
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    margin: 0;
    background-color: $zet-white-color;    
    padding: 15px;
    display: flex;
    position: relative;

    @media only screen and (max-width: $zet-screen-sm-max) {
        margin: 0 auto;
        min-width: calc(280px + 2vw);
        
    }

    @media only screen and (min-width: $zet-screen-sm-min) and (max-width: $zet-screen-lg-max) {        
        min-width: 300px;        
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        min-width: 500px;        
        padding: 15px 2vw;        
    }
}

.article__item {    
    margin: 0 auto;
    min-width: 50px;
    min-height: 50px;
}

.article__box {
    margin: 0;
    width: 100%;
    display: flex;
}

.form-group {
    margin: 0;
}