.navbar-btn {
    margin: 0;
    //vertical-align: middle;
    transition: .2s;
    //line-height: calc(80px - 16px);    

    &:hover {
        background-color: $zet-blue-color;
        //background-image: $zet-bg-gradient;
        cursor: pointer;

        .navbar-btn__text {
            color: $zet-white-color;
        }
    }

    @media only screen and (max-width: $zet-screen-lg-max) {

        display: block;
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        display: inline-block;
        padding: 8px calc(10px);
        height: 80px;
        margin: 0;
        width: 120px;
    }

    .navbar-btn__img {
        height: 25px;
        //line-height: calc(80px - 16px);
        display: block;
        margin: 10px auto 0;  
        //transform: translateY(-50%);    
    }

    .navbar-btn__text {
        margin: 0;
        //line-height: calc(80px - 16px);
        display: block;
        font-size: 13px; 
    }
}