.navbar {
    background-color: white;    
    position: absolute;

    @media only screen and (max-width: $zet-screen-lg-max) {
        width: 80px;
        height: 100%;
        left: 0;        
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        height: 80px;
        width: 100%;
        top: 0;
    }
}