.navbar-btn {
    margin: 0;

    

    @media only screen and (max-width: $zet-screen-lg-max) {

        display: block;
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        display: inline-block;
        margin: 0 calc(10px + 1%);
    }

    .navbar-btn__text {
        margin: 0;
        line-height: 100%;
    }
}