.section__title {    
    @extend %section-title;
    color: $zet-black-color;
}

.section__title_light {
    @extend %section-title;
    color: $zet-white-color;
}

.article__title {
    @extend %article-title;
    color: $zet-blue-color;
}

.article__title_light {
    @extend %article-title;
    color: $zet-white-color;
}