.article__title {
    font-size: calc(18px + 1vw);
    line-height: 180%;
    color: $zet-black-color;
}

.article__title_light {
    font-size: calc(18px + 1vw);
    line-height: 180%;
    color: $zet-white-color;
}