{% extends "base/base.html" %}
{% block content %}
<div class="col col-sm-12">
    {% include "base/childs_basic_data.html" %}
    <div id="punkty_szkola" class="col-xl-12 square">

        <h2 class="text-center"> *** Punkty ze Szkoły *** </h2>

        <div><label> <input type="checkbox" name="1"> przyklad 1 </label></div>
        <div><label> <input type="checkbox" name="1"> przyklad 2 </label></div>
        <div><label> <input type="checkbox" name="1"> przyklad 3 </label></div>
        <div><label> <input type="checkbox"> przyklad 4 </label></div>
        <div><label> <input type="checkbox"> przyklad 5 </label></div>
    </div>

    <form>
        <div class="button">
            {% if role == 'caregiver' %}
            <a class="btn btn-info" href="/child/{{ child.id }}">Wróć</a>
            {% endif %}
            {% if role=='caregiver' %}
            <a class="btn btn-info" href="/">Strona główna</a>
            {% else %}
            <a class="btn btn-info" href="/">Wróć</a>
            {% endif %}

    </form>
</div>
{% endblock %}