/* Colors */
$zet-bg-color: #f4f5f9;
$zet-white-color: #ffffff;
$zet-blue-color: #0141c5;
$zet-black-color: #000000;
$zet-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);


/* Media queries */
$zet-screen-sm-max: 575.99px;
$zet-screen-sm-min: 576px;

$zet-screen-md-max: 767.99px;
$zet-screen-md-min: 768px;

$zet-screen-lg-max: 991.99px;
$zet-screen-lg-min: 992px;

$zet-screen-xl-max: 1199.99px;
$zet-screen-xl-min: 1200px;