{% extends "base/base.html" %}
{% block content %}
<div class="col col-sm-12">
    {% include "base/childs_basic_data.html" %}
    <div class="col col-sm-12">
        <div class="row">
            <div id="tasks" class="col-xl-6 square text-align-right">
                <h2 class="text-center">Sposoby na zdobycie punktów</h2>
                <br>
                <ul>
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Punkty</th>
                            <th>Maksymalnie dziennie</th>
                            <th>Maksymalnie tygodniowo</th>
                        </tr>
                        {% for task in childs_tasks %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ task.name }}</td>
                            <td>{{ task.points }}</td>
                            <td>{{ task.max_day }}</td>
                            <td>{{ task.max_week }}</td>
                            {% if role == 'caregiver' %}
                            <form action="/api/child/{{ child.id }}/tasks/deactivate/{{ task.id }}"
                                  method="post">
                                <td><input class="btn btn-info" type="submit" name="Deactivate_task"
                                           value="Dezaktywuj"/></td>
                            </form>
                            <form>
                                <div class="button">
                                    <td><a class="btn btn-info"
                                           href="/task_detail/{{ child.id }}/edit_task/{{ task.id }}">Edytuj</a></td>
                                </div>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <div id="historia" class="col-xl-6 square text-align-right">
                <h4 class="text-center">Historia ostatnich 10 zdarzeń na punktach</h4>
                <br>
                <ul>
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Liczba punktów</th>
                            <th>Zmienił(a)</th>
                            <th>Data</th>
                        </tr>
                        {% for mod in childs_points_history %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ mod.points_change }}</td>
                            <td>{{ mod.firstname }}</td>
                            <td>{{ mod.change_timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <form>
                <div class="button">
                    {% if role == 'caregiver' %}
                    <a class="btn btn-info" href="/task_detail/{{ child.id }}/add_task">Dodaj zadanie</a>
                    <br><br>
                    <a class="btn btn-info" href="/child/{{ child.id }}">Wróć</a>
                    {% endif %}
                    <a class="btn btn-info" href="/">Strona główna</a>
                    <a class="btn btn-info" href="/logout">Wyloguj</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}