{% extends "base/base.html" %}
{% block content %}
<div class="col col-sm-12">
    {% include "base/childs_basic_data.html" %}
    <div class="col col-sm-12">
        <div class="row">
            <div id="prizes" class="col-xl-6 square text-align-right">
                <h2 class="text-center">Wykorzystaj punkty</h2>

                <form action="/api/child/{{ child.id }}/points/use?return_url=/prizes_detail/{{ child.id }}"
                      method="post">
                    <div class="form-group button">
                        Liczba punktów: <input class="form-control" type="number" name="points" required>

                        <input class="btn btn-info" type="submit" name="wykorzystaj punkty" value="Wykorzystaj punkty"/>
                    </div>
                    <h4 class="text-center">NAGRODY</h4>
                </form>
                <ul style="text-align:left;">
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Punkty</th>
                            <th>Max. dziennie</th>
                            <th>Max. tygodniowo</th>
                            <th>Max. miesięcznie</th>
                        </tr>
                        {% for prize in childs_prizes %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ prize.name }}</td>
                            <td>{{ prize.points }}</td>
                            <td>{{ prize.max_day }}</td>
                            <td>{{ prize.max_week }}</td>
                            <td>{{ prize.max_month }}</td>
                            {% if role == 'caregiver' %}
                            <form action="/api/child/{{ child.id }}/prizes/deactivate/{{ prize.id }}"
                                  method="post">
                                <td><input class="btn btn-info" type="submit" name="Deactivate_prize"
                                           value="Dezaktywuj"/></td>
                            </form>
                            <form>
                                <div class="button">
                                    <td><a class="btn btn-info"
                                           href="/prizes_detail/{{ child.id }}/edit_prize/{{ prize.id }}">Edytuj</a>
                                    </td>
                                </div>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <div id="history_points" class="col-xl-6 square text-align-right">
                <h4 class="text-center">Historia ostatnich 10 zdarzeń na punktach</h4>
                <br>
                <ul>
                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Liczba punktów</th>
                            <th>Zmienił(a)</th>
                            <th>Data</th>
                        </tr>
                        {% for mod in childs_points_history %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ mod.points_change }}</td>
                            <td>{{ mod.firstname }}</td>
                            <td>{{ mod.change_timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <form>
                <div class="button">
                    {% if role == 'caregiver' %}
                    <a class="btn btn-info" href="/prizes_detail/{{ child.id }}/add_prize">Dodaj nagrodę</a>
                    <br><br>
                    <a class="btn btn-info" href="/child/{{ child.id }}">Wróć</a>
                    {% endif %}
                    <a class="btn btn-info" href="/">Strona główna</a>
                    <a class="btn btn-info" href="/logout">Wyloguj</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}