.add-child {
    .col {
        .article__container {
            padding: 0;
            transition: .2s;
            margin-bottom: 30px;
            margin-top: 30px;

            @media only screen and (max-width: $zet-screen-sm-max) {
                margin-bottom: calc(10px + 2vh);
                margin-top: calc(10px + 2vh);
            }
            
            .article__box {
                padding: calc(5px + 1vh) 10px;
                //background-color: $zet-blue-color;
                //background-image: $zet-bg-gradient;
                border-radius: $zet-box-radius;
                display: flex;
                //flex-direction: row-reverse;
                justify-content: center;
                transition: .2s;


                @media only screen and (max-width: $zet-screen-sm-max) {
                    &:hover {
                        position: relative;

                        .article__box {
                            background-color: $zet-white-color;
                            background-image: none;

                        }
                    }
                }
            }

            @media only screen and (min-width: $zet-screen-sm-min) and (max-width: $zet-screen-lg-max) {

                &:not(.active):hover {
                    .article__box {
                        //background-color: $zet-blue-color;
                        //background-image: $zet-bg-gradient;
                        width: 50%;


                    }
                }

                .article__box {
                    border-radius: $zet-box-radius 0 0 $zet-box-radius;
                    padding: 20px 10px;

                    &:nth-of-type(2) {
                        display: flex;
                        border-radius: 0 $zet-box-radius $zet-box-radius 0;
                        //background-color: $zet-white-color;
                    }

                    .article__item {

                        .article__title_light {
                            padding-bottom: 10px;
                        }
                    }
                }
            }

            @media only screen and (min-width: $zet-screen-lg-min) {
                flex-direction: column;                
                width: 100%;
                min-width: 400px;

                &:not(.active):hover {
                    .article__box {
                        //background-color: $zet-blue-color;
                        //background-image: $zet-bg-gradient;

                    }
                }

                .article__box {
                    border-radius: $zet-box-radius $zet-box-radius 0 0;


                }

            }
        }
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col {
            width: 100%;
            padding: 0;
            flex: 1;
        }
    }
}