.children {
    .col {
        .article__container {
            padding: 0;

            .article__box {
                padding: 20px 10px;
                background-color: $zet-blue-color;
                background-image: $zet-bg-gradient;
                border-radius: $zet-box-radius;
                display: flex;
                //flex-direction: row-reverse;
                transition: .2s;

                .article__item {
                    text-align: center;
                    display: flex;
                    align-items: center;

                    &:nth-of-type(1) {
                        flex: 2;
                        flex-direction: column;
                        justify-content: center;

                        .image__container {
                            border-radius: 50%;
                            overflow: hidden;
                            width: 90px;
                            height: 90px;
                            padding: 0;
                            background-color: $zet-white-color;
                            margin: 0 auto 15px;
                            border: solid 5px $zet-white-color;
                            box-shadow: $zet-box-shadow;

                            .portrait__image {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        flex: 1;
                        flex-direction: column;
                        justify-content: center;

                        .article__text {
                            font-size: 90%;
                            line-height: 100%;
                            color: $zet-white-color;
                        }
                    }
                }

                &:nth-of-type(2) {
                    display: none;
                    background-image: none;
                }
            }

            &:hover {
                .article__box {
                    background-color: $zet-white-color;
                    background-image: none;

                    .article__item {

                        .image__container {
                            border: solid 5px $zet-blue-color;
                        }

                        .section__title_light,
                        .article__title_light,
                        .article__text {
                            color: $zet-black-color;
                        }
                    }
                }
            }

            @media only screen and (min-width: $zet-screen-sm-min) and (max-width: $zet-screen-lg-max) {

                &:not(.active):hover {
                    .article__box {
                        background-color: $zet-blue-color;
                        background-image: $zet-bg-gradient;

                        .article__item {

                            .image__container {
                                border: solid 5px $zet-white-color;
                            }

                            .section__title_light,
                            .article__title_light,
                            .article__text {
                                color: $zet-white-color;
                            }
                        }

                        &:nth-of-type(2) {
                            background-color: $zet-white-color;
                            background-image: none;
                        }
                    }
                }

                .article__box {
                    border-radius: $zet-box-radius 0 0 $zet-box-radius;

                    &:nth-of-type(2) {
                        display: flex;
                        border-radius: 0 $zet-box-radius $zet-box-radius 0;
                        background-color: $zet-white-color;
                    }

                    .article__item {

                        .article__title_light {
                            padding-bottom: 10px;
                        }
                    }
                }
            }

            @media only screen and (min-width: $zet-screen-lg-min) {
                flex-direction: column;
                width: 100%;
                min-width: 400px;

                &:not(.active):hover {
                    .article__box {
                        background-color: $zet-blue-color; 
                        background-image: $zet-bg-gradient;                     

                        .article__item {

                            .image__container {
                                border: solid 5px $zet-white-color;
                            }

                            .section__title_light,
                            .article__title_light,
                            .article__text {
                                color: $zet-white-color;
                            }
                        }

                        &:nth-of-type(2) {
                            background-color: $zet-white-color;
                            background-image: none;
                        }
                    }
                }

                .article__box {
                    border-radius: $zet-box-radius $zet-box-radius 0 0;                    

                    &:nth-of-type(2) {
                        display: flex;
                        border-radius: 0 0 $zet-box-radius $zet-box-radius;
                        background-color: $zet-white-color;
                    }

                    .article__item {

                        .article__title_light {
                            padding-bottom: 10px;
                        }
                    }
                }

            }
        }
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col {
            width: 100%;
            padding: 0;
            flex: 1;
        }
    }
}