.mobile-header {

    display: none;

    @media only screen and (max-width: $zet-screen-sm-max) {
        display: block;
        width: 100vw;
        
        //display: none;

        .mobile-brand {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $zet-gray-color;
            background-image: url(../images/zeton_white_transp.png);
            background-size: calc(100px + 10%);
            background-repeat: no-repeat;
            background-position: 80%;
            padding: 0 calc(100vw - 20px - 48px) 0 20px;
            box-shadow: $zet-box-shadow;
            height: 80px;
            width: 100%; 
            min-width: 250px;           
        }
    }
}