.navbar {
    background-color: $zet-white-color;
    position: absolute;
    box-shadow: $zet-box-shadow;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 0;
    flex-wrap: nowrap;

    .navbar-brand {
        padding: 8px 16px;
        flex: 1;
        //max-width: 20%;

        .logo {
            background-image: url(../images/zeton1b.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            height: calc(80px - 16px);
            width: 100px;
        }
    }

    .navbar-nav {
        font-size: 0;
        flex: 3;

        @media only screen and (max-width: $zet-screen-lg-max) {
            width: 100%;
            display: block;
        }

        @media only screen and (min-width: $zet-screen-lg-min) and (max-width: $zet-screen-xl-max) {
            width: 60%;
            //margin: 0 calc(10px);
            display: inline-block;
            text-align: center;

            .navbar-btn {
                width: 15%;

                .navbar-btn__img {
                    margin: 20px auto 0;
                }

                .navbar-btn__text {
                    display: none;
                }

                &:hover {
                    width: 120px;
                    text-align: center;

                    .navbar-btn__img {
                        margin: 10px auto 0;
                    }

                    .navbar-btn__text {
                        display: block;
                        float: left;
                        margin: 0 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        @media only screen and (min-width: $zet-screen-xl-min) {
            width: 60%;
            //margin: 0 calc(10px);
            display: inline-block;
            text-align: center;
        }
    }

    .navbar-nav_settings {
        font-size: 0;
        flex: 1;

        @media only screen and (max-width: $zet-screen-lg-max) {
            width: 100%;
            display: block;
        }

        @media only screen and (min-width: $zet-screen-lg-min) and (max-width: 1247.9px) {
            //max-width: 20%;
            //margin: 0 calc(10px) 0;
            display: inline-block;
            text-align: center;

            .navbar-btn {
                width: calc(80px + 1vw);

                &:hover {
                    width: calc(80px + 1vw);
                    text-align: center;
                }
            }
        }

        @media only screen and (min-width: 1248px) {

            .navbar-btn {
                width: 50%;
            }
        }

    }

    //pasek dla mobile-portrait//

    @media only screen and (max-width: $zet-screen-sm-max) {
        transition: .2s;
        //display: none;

        .navbar-brand {
            position: absolute;            
            top: 7px;
            left: 7px;
            background-color: $zet-white-color;
            border-radius: 50px;
            padding: 0 17px;
            box-shadow: $zet-box-shadow;

            .logo {
                background-image: url(../images/zeton1b-small.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 55%;
                width: calc(80px - 32px);
                height: 80px;
                margin: 0 auto;
                transition: .1s;
            }
        }

        .navbar-nav,
        .navbar-nav_settings {
            display: none;
            transition: .3s;

            .navbar-btn {
                font-size: 0;
                height: 58px;
                padding: 0 10px;
                overflow: hidden;

                .navbar-btn__img {
                    display: block;
                    float: left;
                    margin: 15px 20px;
                    //background-color: $zet-white-color;
                    overflow: hidden;
                }

                .navbar-btn__text {
                    //display: none;
                    visibility: hidden;
                    line-height: 57px;
                    margin-left: 0px;
                }
            }
        }

        &:hover {
            width: 200px;
            min-height: 550px;
            height: 100%;
            left: 0;
            transition: .2s;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            flex-direction: column;

            .navbar-brand {
                position: relative;
                background-color: transparent;
                border-radius: 0x;
                box-shadow: none;
                padding: 0;
                cursor: pointer;

                .logo {
                    background-image: url(../images/zeton1b.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 65%;
                    width: calc(200px - 32px);
                    //height: 80px;
                    margin: 0 auto;
                }
            }

            .navbar-nav,
            .navbar-nav_settings {
                display: block;
                .navbar-btn {

                    .navbar-btn__img {
                        display: block;
                        float: left;
                        margin-right: 10px;
                    }

                    .navbar-btn__text {
                        //display: block;
                        visibility: visible;
                        line-height: 57px;
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    //pasek boczny//

    @media only screen and (min-width: $zet-screen-sm-min) and (max-width: $zet-screen-lg-max) {
        min-height: 550px;
        width: 80px;
        height: 100%;
        left: 0;
        transition: .2s;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: column;

        .navbar-brand {

            .logo {
                background-image: url(../images/zeton1b-small.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 55%;
                width: calc(80px - 32px);
                height: 80px;
                margin: 0 auto;
                transition: .2s;
            }
        }

        .navbar-nav,
        .navbar-nav_settings {
            transition: .3s;

            .navbar-btn {
                font-size: 0;
                height: 58px;
                padding: 0 10px;
                overflow: hidden;

                .navbar-btn__img {
                    display: block;
                    float: left;
                    margin: 15px 20px;
                    //background-color: $zet-white-color;
                    overflow: hidden;
                }

                .navbar-btn__text {
                    //display: none;
                    visibility: hidden;
                    line-height: 57px;
                    margin-left: 0px;
                }
            }
        }

        &:hover {
            width: 200px;

            .navbar-brand {

                .logo {
                    background-image: url(../images/zeton1b.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 65%;
                    width: calc(200px - 32px);
                    //height: 80px;
                    margin: 0 auto;
                }
            }

            .navbar-nav,
            .navbar-nav_settings {
                .navbar-btn {

                    .navbar-btn__img {
                        display: block;
                        float: left;
                        margin-right: 10px;
                    }

                    .navbar-btn__text {
                        //display: block;
                        visibility: visible;
                        line-height: 57px;
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: $zet-screen-lg-min) {
        height: 80px;
        width: 100%;
        top: 0;
        justify-content: space-between;

        .navbar-brand {

            .logo {
                .logo {
                    background-image: url(../images/zeton1b.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: calc(80px - 16px);
                    width: 100px;
                }
            }
        }
    }
}