{% extends "base/base.html" %}
{% block content %}
<body>
<h1>Lista użytkowników:</h1>
<h2>Dzieci:</h2>
<table>
    {% for child in children_under_caregiver %}
{#        {% if members_data[member]['role'] == 'child' %}#}
   <tr>
       <td>{{ child['firstname'] }}</td>
{#       <td>{{ members_data[member]['role'] }}</td>#}
       <td><a href="{{ url_for('views.manage_permissions', user_id=user_id, child_id=child['id']) }}">edytuj</a></td>
   </tr>
{#        {% endif %}#}
    {% endfor %}
</table>
{% endblock content %}
